{{ define "main" }}
    <div id="main">
        <div class="header">
            <div class="pure-form" style="display: flex; justify-content: center">
                <select id="qrEdge" class="pure-input-3-5">
                    {{ range $num := (seq 5 10) }}
                        <option>{{ .}}</option>
                    {{ end }}
                </select>
            </div>
        </div>
        <div class="content">
            <div id="gameplace"></div>

            <div id="result" style="display: none;"></div>
            <ul class="pure-menu-list" id="gametally"></ul>

        </div>
    </div>
    <div class="header">
        <div class="pure-form" style="display: flex; justify-content: center">
            <span class="pure-button pure-button-active" id="send" title="{{ .Site.Params.Gen}}">{{ .Site.Params.Gen}}</span>
        </div>
    </div>
{{ end }}
